.pizzaCard {
  background: white;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.2s;
}
.pizzaCardImg {
  width: 100%;
  height: 200px;
}
.pizzaCardImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.pizzaCardContent {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex: 1;
}
.pizzaCardContent h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.pizzaCardContent {
  position: absolute;
  bottom: 75px;
  background-color: white;
  width: 100%;
}

.pizzaCardContent > p {
  margin: 0;
  font-size: 0.9rem;
  color: #b5b6bd;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}
.pizzaCard:hover .pizzaCardContent > p {
  max-height: 100px;
}
.pizzaCardFooter {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  margin: 15px;
}
.pizzaCardFooter span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: gray;
  font-size: 0.8rem;
}
.pizzaCardFooter span b {
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
}
.pizzaCardFooter button {
  background: #c8102e;
  color: white;
  border: none;
  border-radius: 10px;
  width: 36px;
  height: 36px;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}
.pizzaCardFooter button:hover {
  background: #bea763;
}
