.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 100px;
  padding-block: 12px;
  background-color: #c8102e;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
  height: 50px;
  font-family: "Ubuntu", sans-serif;
}

/* Logo */
.logo-img {
  height: 35px;
  width: auto;
  cursor: pointer;
}

/* Liens navigation */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  font-weight: bold;
}

.nav-links li.NOclk {
  pointer-events: none;
  opacity: 0.8;
}

.nav-links a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.2s;
}

.nav-links a:hover {
  text-decoration: underline;
}

/* Section droite */
.right-section {
  display: flex;
  align-items: center;
}

.right-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.se-connecter {
  border-radius: 20px;
  border: 1.5px dotted rgba(255, 255, 255, 0.811);
  padding: 9px 12px;
  font-size: 0.9rem;
  cursor: pointer;
}

.langue {
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
  cursor: pointer;
}

.chevron {
  font-size: 0.7rem;
}

/* ============ TABLETTE ============ */
@media (max-width: 1024px) {
  .navbar {
    padding-inline: 40px;
  }

  .nav-links {
    gap: 20px;
  }

  .se-connecter {
    padding: 8px 10px;
    font-size: 0.85rem;
  }
}

/* -------- Menu Burger -------- */
.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1100;
}

.burger span {
  width: 25px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger.open span:nth-child(2) {
  opacity: 0;
}
.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* -------- Responsive -------- */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .nav-links,
  .right-section {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
    background-color: #c8102e;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    transition: transform 0.3s ease;
    transform: translateY(-200%);
    opacity: 0;
    pointer-events: none;
  }

  .nav-links.active,
  .right-section.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }

  .nav-links {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
  }
}

