.pizzaPanier {
  z-index: 1;
  min-width: 250px;
  position: sticky;
  top: 90px;
  border-radius: 5px;
  width: 340px;
}
.pizzaPanierHeader {
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.pizzaPanierHeader > h2 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 10px;
  letter-spacing: -1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.pizzaPanierAllPizzas {
  max-height: 270px;
  overflow-y: auto;
}
.pizzaPanierPizza {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-block: 1px dashed gray;
  padding-inline: 10px;
  height: 90px;
  box-sizing: border-box;
}
.pizzaPanierPizzadetails > p:first-of-type {
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
  margin-bottom: 2px;
}
.pizzaPanierPizzadetails > p:last-of-type {
  color: grey;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 8px;
}
.pizzaPanierQuantity {
  display: flex;
  align-items: center;
  margin: 0;
}
.pizzaPanierQuantity > button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfdfe3;
  border: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.pizzaPanierQuantity > button:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2.5px;
  left: 0;
  background-color: #dfdfe3;
  bottom: -4.5px;
}
.pizzaPanierQuantity > button svg {
  color: white;
  font-size: 15px;
}
.pizzaPanierQuantity > span {
  font-size: 1rem;
  font-weight: bold;
  margin-inline: 10px;
}
.pizzaPanierPrice {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 25px;
}
.pizzaPanierPrice > p {
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0;
}
.pizzaPanierModifier {
  display: inline;
  background: none;
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0;
  margin-right: 4px;
  transition: text-decoration 0.3s;
}
.pizzaPanierModifier:hover {
  text-decoration: underline solid black;
}
.pizzaPanierSupprimer {
  display: inline;
  background: none;
  border: none;
  color: #c8102e;
  font-size: 0.8rem;
  cursor: pointer;
  padding: 0;
  margin-left: 4px;
}
.pizzaPanierSupprimer:hover {
  text-decoration: underline solid #c8102e;
}
.pizzaPanierCoupon {
  border: 2px dashed gray;
  border-radius: 8px;
  background-color: white;
  padding: 16px 10px;
  text-align: center;
  color: black;
  font-size: 1.01rem;
  margin: 10px;
  box-sizing: border-box;
}
.pizzaPanierTotal {
  display: flex;
  gap: 10px;
  flex-direction: column;
  background: #fafbfc;
  border-radius: 8px;
  padding: 10px;
}
.pizzaPanierTotal > p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.pizzaPanierTotal > p:first-of-type span {
  color: #b5b6bd;
  font-size: 1.1rem;
}
.pizzaPanierTotal > p:last-of-type span {
  font-weight: bold;
  font-size: 1.1rem;
}
.pizzaPanierCommander {
  margin-top: 20px;
}
.pizzaPanierCommander > button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: #70a401;
  border: none;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: bold;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 100%;
}
.pizzaPanierCommander > button span:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 30px;
  background-color: #639003;
  border-radius: 5px;
}
.pizzaPanierCommander > button:hover {
  background-color: #4c6f01;
}
.panierVide {
  color: grey;
  font-size: 1rem;
  text-align: center;
  padding-bottom: 30px;
}
.couponAccueil{ 
  text-align: center;
  font-size: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 2px dashed rgb(200, 200, 200);
  color: grey;
}
